html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app
{
  height: 100%;

  >div
  {
    height: 100%;
  }
}

.paper-trader-app
{
  position: relative;
  height: 100%;
  overflow-y: scroll;

  h1
  {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 100;
  }

  h2
  {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }

  label
  {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .positive
  {
    color: #009688;
  }

  .negative
  {
    color: #F44336;
  }

  header
  {
    display: block;
    position: relative;
    background-color: #3E50B4;
    height: 110px;

    h1
    {
      color: #EEEEEE;
      position: absolute;
      top: 32px;
      left: 25px;
      margin: 0px;
    }

    .login-button
    {
      width: 94px;
      height: 36px;
      outline: none;
      position: absolute;
      top: 37px;
      right: 48px;
      border: none;
      background: #009688;
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
      border-radius: 2px;
      /* LOGIN: */
      font-family: 'Roboto-Medium', sans-serif;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    .user-button
    {
      position: absolute;
      top: 31px;
      right: 48px;
      cursor: pointer;

      .user-email
      {
        color: #fff;
        font-weight: 300;
        margin-right: 15px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5px;
      }

      @media (max-width: 468px) {
        .user-email
        {
          display: none;
        }
      }

      .user-avatar
      {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .login-panel
      {
        display: none;
        position: relative;
        background: #ffffff;

        &:after {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 10px;
          margin-left: -10px;
        }

        &.open
        {
          display: block;
          margin-top: 5px;
          box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
          border-radius: 3px;

          ul
          {
            list-style: none;

            li
            {
              padding: 10px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .mdl-tabs
  {
    background-color: #3E50B4;

    .mdl-tabs__tab
    {
      color: #fff;
      width: 100%;

      &:hover
      {
        text-decoration: none;
      }

      &.is-active
      {
        color: #fff;
        &:after
        {
          height: 3px;
          background-color: #FFFF8C;
        }
      }
    }
  }

  &.loading
  {
    section.content
    {
      .stock-line
      {
        background-color: rgba(0, 0, 0, 0.02);

        label.loaded-label
        {
          display: none;
        }

        div.loaded-text
        {
          display: none;
        }
      }

      .toolbar
      {
        .toolbar-item
        {
          color: rgba(0, 0, 0, 0.26);
        }
      }

      .total-line
      {

      }
    }

    .add-button
    {
      background-color: #9B9B9B;
    }

    .loading-dialog
    {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 280px;
      height: 190px;
      margin-left: -115px;
      margin-top: -81px;
      background-color: #fafafa;
      box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22), 0px 19px 38px 0px rgba(0,0,0,0.30);
      border-radius: 2px;
      border: none;
      line-height: 25px;

      div
      {
        color: rgba(0, 0, 0, 0.54);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 180px;
        height: 50px;
        margin-left: -90px;
        margin-top: -25px;
        text-align: center;
        font-size: 24px;
        font-style: italic;
        font-weight: 100;
      }
    }
  }

  section.content
  {
    padding: 0px 20px;

    .row
    {
      padding: 0px 20px;
    }

    .stock-line
    {
      width: auto;
      clear: both;
      margin: 32px 0px;
      background-color: rgba(0, 0, 0, 0.05);
      height: 122px;
      overflow: hidden;
      padding: 9px 0px 0px 0px;
      font-family: 'Roboto', sans-serif;
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
      border-radius: 3px;

      &.blank-entry
      {
        // background-color: rgba(0, 0, 0, 0.03);
        // box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.05), 0px 2px 2px 0px rgba(0,0,0,0.05);
        opacity: 0.4;
      }

      label
      {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        margin-bottom: 0px;
      }

      h1
      {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 100;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 39.6px;

        &.symbol
        {
          width: 155px;
          color: #3E50B4;
          float: left;
        }
      }

      .price
      {
        float: left;
        margin-top: 16px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 24px;
        font-weight: 600;
      }

      .change-percent
      {
        font-weight: 100;
        font-size: 24px;
        margin-top: 17px;
      }

      .holding-change-label
      {
        text-align: right;
      }

      .holding-change
      {
        font-weight: 100;
        font-size: 36px;
        margin-top: 6px;
        text-align: right;
      }

      .toolbar
      {
        background-color: #FAFAFA;
        height: 46px;

        .toolbar-item
        {
          width: 68px;
          text-transform: uppercase;
          float: left;
          color: #009688;
          font-weight: 500;
          font-size: 14px;
          padding: 12px 20px;
          cursor: pointer;
        }
      }
    }

    .total-line
    {
      height: 80px;

      h2
      {
        margin-top: 14px;
      }

      div.price
      {
        margin-top: 8px;
      }

      div.change-percent
      {
        margin-top: 8px;
      }

      div.holding-change
      {
        margin-top: -3px;
      }
    }

    hr
    {
      color: #AAA;
    }
  }

  .add-button
  {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #009688;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.12), 0px 14px 14px 0px rgba(0,0,0,0.24);
    position: fixed;
    right: 48px;
    bottom: 48px;
    border: none;
    outline: none;

    .icon-plus
    {
      width: 23px;
      height: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }

    .icon-plus:after
    {
      background-color: #fff;
      width: 15px;
      height: 3px;
      position: absolute;
      top: 10px;
      left: 4px;
      content: "";
    }
    
    .icon-plus:before
    {
      background-color: #fff;
      width: 3px;
      height: 15px;
      position: absolute;
      top: 4px;
      left: 10px;
      content: "";
    }
  }

  .loading-dialog
  {
    display: none;
  }
}
